<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>success</title>
</head>
<body>
    <div class="text-center m-5">
        
       <div class="d-flex justify-content-center">
        <h1 class="text-success  mt-5 ">Success</h1>
        <img class=" mt-5" src="\assets\istockphoto-1209946368-612x612.jpg" width="50px" height="50px">
       </div>
        
        <p>Thank you ,<b>{{userName}}</b>!</p>
        <p>Your order is confirmed!</p>
        <p>Please allow 1-3 business day(s) for shipping </p>
        <button routerLink="/products" class="btn btn-primary ">Back to product list</button>
    </div>
    
    
</body>
</html>